@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    height: 85vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: 'Press Start 2P', cursive;
    background-color: #00ff8055;
}

canvas {
    border: 2px solid white;
}

.placar {
    display: flex;
    flex-direction: row;
}

.placar h4:first-child {
    margin-right: 50px;
}

#start, #restart {
    margin-top: 40px;
}

h4 {
    margin: 15px 0;
}

#game-over {
    color: red;
}

#best-score {
    color: green;
}